@page
@model Vitrina.Pages.AuthModel
@{
    Layout = "";
}
<br />
<br />
<div style="text-align:center">
    <p style="margin-bottom:1%"><img src="https://i.ibb.co/Msgmx3J/Logoooo.png" alt="Logoooo" border="0" /></p>
    <div style="font-size: 24px;line-height: 33px;color: #181818; ">
        <div>Приветствуем!</div>
        <div>Чтобы продолжить работу, войдите в личный кабинет:</div>
    </div>
    <p><img src="https://i.ibb.co/dKY0smB/image.png" style="margin:1% 0%" alt="" border="0"></p>
    <div style="text-align:center; margin:0% 35%">
        <input placeholder="Логин"  style="background: #FFFFFF; padding:5px; font-size: 18px;line-height: 24px; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12); border-radius: 16px;" />

        <input placeholder="Пароль" type="password" style="margin-top:10px; background: #FFFFFF; padding:5px; font-size: 18px;line-height: 24px; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12); border-radius: 16px;" />

    </div>
    <div onMouseOver="this.style.backgroundColor = '#33cd9a'" onMouseOut="this.style.backgroundColor='#FFFFFF'" style="border: 1px solid #009A96;box-sizing: border-box;border-radius: 16px; margin:0% 43%; margin-top:20px">
        <a asp-area="" asp-page="/Index" style="text-decoration: none"><p style="font-size: 18px; margin-top:0px; line-height: 22px;color: #009A96; padding:5px 0px; margin-bottom:0px">Войти</p></a>
    </div>
</div>
