@page
@model Vitrina.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>



@foreach (var item in Model.SingleStartup) {
<div style="text-align:center; border: 3px solid black; margin: 0% 20%; border-radius:24px;">
    <table>
        <tr>
            <td>
                <div style="padding:10px; ">
                    <img src=@item.ImageAsString alt="Rectangle-4" style="border-radius:16px; width:150px">
                </div>
            </td>

            <td width="100%">
                <div style="padding-top:10px;">
                    <header>
                        <div style="display: flex; justify-content: space-between;">
                            <h3>@item.Title</h3><h6 style="padding-right:5px;">20.11.2021</h6>
                        </div>
                        <h6 style="text-align:left;">@item.DevTeam</h6>
                    </header>
                    <div>
                        <p style="text-align:left;">@item.ShortDesc</p>
                    </div>
                    <footer>
                        <h6></h6>
                        Оценка экспертов + звезды
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                    </footer>

                </div>
            </td>
        </tr>

    </table>
</div>       
}

