@page
@model Vitrina.Pages.Index1Model
@{

}
<div style="margin: 0% 30%; padding: 30px;">
    <img src="https://i.ibb.co/64PW4vc/Group-21.png" style="justify-content: center; display: block; margin-left: auto; margin-right: auto" alt="Group-21" border="0">
    <p style="font-weight: 600;margin: 18px 0px; font-size: 44px;line-height: 120%;text-align: center;color: #181818;">Юрий Филиппов</p>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 0px;">
        <div style="display: flex;flex-direction: row;align-items: center;padding: 0px 22px; border-radius: 16px; padding: 0px 22px;">
            <a href="/Settings" style="float:left"><img src="https://i.ibb.co/bLXnhNT/image.png"  alt="image" border="0"></a>
            <p style=" float:right; margin-bottom:0px; margin-left:5px;">Настройки</p>
        </div>
        <div style="display: flex;flex-direction: row;align-items: center;padding: 0px 22px; border-radius: 16px; background: #EFEFEF; padding: 0px 22px;">
            <a href="" style="float:left; "><img src="https://i.ibb.co/TvXK45H/image.png"   alt="image" border="0"></a>
            <p style=" float:right; margin-bottom:0px; margin-left:5px;">Избранное</p>
        </div>
        <div style="display: flex;flex-direction: row;align-items: center;padding: 0px 22px; border-radius: 16px; padding: 0px 22px;">
            <a href="/MyRequests" style="float:left;"><img src="https://i.ibb.co/zmC2T0v/Mask-Group.png"  alt="Mask-Group" border="0"></a>
            <p style=" float:right; margin-bottom:0px;  margin-left :5px;">Мои заявки</p>
        </div>
    </div>
</div>

<div style="display: flex; flex-direction: row; margin:0% 10%; text-align:center; justify-content: space-between; margin-top:20px;">
    <div style="margin: 22px 0px;">
        <div style="display: flex; flex-direction: column;  justify-content: center;">
            <div style="display: flex; flex-direction: row;  justify-content: space-between;">

                <div style="padding:10px; padding-top:45px; ">
                    <input type="checkbox" />
                </div>

                <div style="background: #FFFFFF; width:350px; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);border-radius: 16px; display: flex; flex-direction: row;align-items: flex-start;padding: 17px 18px;">

                    <p><img src="https://i.ibb.co/TcG4Y9P/Rectangle-19.png" alt="Rectangle-19" border="0"></p>
                    <div style="flex-direction: column; justify-content: center; padding-left:30px;">
                        <p style="font-weight: 600;font-size: 18px;line-height: 150%;color: #181818; ">L-Charge</p>
                        <p>Команда </p>
                    </div>

                </div>


                <div style="padding:10px;">
                    <p style="padding-top:35px;"><img src="https://i.ibb.co/K2dyxSd/Mask-Group-1.png"  alt="Mask-Group-1" border="0"></p>
                </div>
            </div>
                <div style="display: flex; flex-direction: row;  justify-content: space-between; ">
                    <div style="padding:10px; padding-top:45px;">
                        <input type="checkbox" />
                    </div>


                    <div style="background: #FFFFFF; width: 350px; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09); border-radius: 16px; display: flex; flex-direction: row; align-items: flex-start; padding: 17px 18px;">
                        <p><img src="https://i.ibb.co/nb7h9yK/Rectangle-19-1.png" alt="Rectangle-19-1" border="0"></p>
                        <div style="flex-direction: column; justify-content: center; padding-left:30px;">
                            <p style="font-weight: 600;font-size: 18px;line-height: 150%;color: #181818; ">Traffic Data</p>
                            <p>Команда</p>
                        </div>
                    </div>

                    <div style="padding:10px;">
                        <p style="padding-top:35px;"><img src="https://i.ibb.co/K2dyxSd/Mask-Group-1.png" alt="Mask-Group-1" border="0"></p>
                    </div>

                </div>
            </div>
    </div>
    <div style=" width:50%; height:30%; padding: 15px 15px; margin-top: auto; margin-bottom: auto; background: #FFFFFF; border-radius: 24px;flex: none;order: 1;flex-grow: 0;">
        <p>Выберите карточки стартапов, про которые хотите узнать больше и нажмите кнопку</p>
        <div style="padding: 16px 30px; border: 1px solid #009A96;box-sizing: border-box;border-radius: 16px;">
            <p style="text-align:center; font-weight: 500;font-size: 18px;line-height: 22px;color: #009A96;">Получить данные</p>
        </div>
    </div>
</div>
