@page
@model Vitrina.Pages.MyRequestsModel
@{
}
<div style="margin: 0% 30%; padding: 30px;">
    <img src="https://i.ibb.co/64PW4vc/Group-21.png" style="justify-content: center; display: block; margin-left: auto; margin-right: auto" alt="Group-21" border="0">
    <p style="font-weight: 600;margin: 18px 0px; font-size: 44px;line-height: 120%;text-align: center;color: #181818;">Юрий Филиппов</p>
    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; padding: 0px;">
        <div style="display: flex;flex-direction: row;align-items: center;padding: 0px 22px; border-radius: 16px; padding: 12px 22px; ">
            <a href="" style="float:left"><img src="https://i.ibb.co/bLXnhNT/image.png"  alt="image" border="0"></a>
            <p style=" float:right; margin-bottom:0px; margin-left:5px;">Настройки</p>
        </div>
        <div style="display: flex;flex-direction: row;align-items: center;padding: 0px 22px; border-radius: 16px; padding: 0px 22px;">
            <a href="" style="float:left; "><img src="https://i.ibb.co/TvXK45H/image.png"  alt="image" border="0"></a>
            <p style=" float:right; margin-bottom:0px; margin-left:5px;">Избранное</p>
        </div>
        <div style="display: flex;flex-direction: row;align-items: center;padding: 12px 22px; border-radius: 16px; padding: 12px 22px;background: #EFEFEF;">
            <a href="" style="float:left;"><img src="https://i.ibb.co/zmC2T0v/Mask-Group.png"  alt="Mask-Group" border="0"></a>
            <p style=" float:right; margin-bottom:0px; margin-left:5px;">Мои заявки</p>
        </div>
    </div>
</div>




<div style="margin: 0% 22% 0% 22%; box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.1); border-radius: 24px; padding: 30px 30px 30px 30px">
    <table cellspacing="5" style="width:80%; margin-left:auto; margin-right:auto; ">
        <tr>
            <td><p style="font-size: 18px"><bold>Доступна информация по:</bold></p></td>
            <td><p style="font-size: 18px"><bold>Заявка обрабатывается:</bold></p></td>
        </tr>
        <tr>
            <td>
                <div style="display: flex;margin: 22px 0px;flex-direction: row;align-items: flex-start;text-align: center; border-radius: 24px; width: 80%; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);">
                    <table>
                        <tr>
                            <td>
                                <div style="padding:10px; ">
                                    <img src="https://psv4.userapi.com/c505536/u108757040/docs/d45/d69be6a9548d/Rectangle_19.png?extra" alt="Rectangle-4" style="border-radius:16px; width:52px">
                                </div>
                            </td>
                            <td align="left">
                                <div style="padding:10px 0px; ">
                                    <b style="font-size: 18px">L-Charge</b>
                                    <p>Команда</p>
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>

            </td>
            <td>
                <div style="display: flex;margin: 22px 0px;flex-direction: row;align-items: flex-start;text-align: center; border-radius: 24px; width: 87%; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);">
                    <table>
                        <tr>
                            <td>
                                <div style="padding:10px; ">
                                    <img src="https://psv4.userapi.com/c536236/u180041703/docs/d3/20386ec147b5/Rectangle_19_2.png?extra=WTe35LYkD9QjhSwVO3ty36FSIYXBCrH_BWalYQpkvaCaqgVDSZPrhgDz7OxgHvJuV98W-6fYzmxV--gQ8ZGaywpmMtes9F3Pt2aWtcfr5xQaAdSjf1is_zsAbH6Wd0C-u18Si0xe4CsLlt1AzW5CCMyN" alt="Rectangle-4" style="border-radius:16px; width:52px">
                                </div>
                            </td>
                            <td align="left">
                                <div style="padding:10px 0px; ">
                                    <b style="font-size: 18px">Traffic Data</b>
                                    <p>Команда</p>
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="display: flex; flex-direction: row;align-items: flex-start;text-align: center; border-radius: 24px; width: 80%; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);">
                    <table>
                        <tr>
                            <td>
                                <div style="padding:10px; ">
                                    <img src="https://psv4.userapi.com/c505536/u108757040/docs/d45/d69be6a9548d/Rectangle_19.png?extra" alt="Rectangle-4" style="border-radius:16px; width:52px">
                                </div>
                            </td>
                            <td align="left">
                                <div style="padding:10px 0px; ">
                                    <b style="font-size: 18px">L-Charge</b>
                                    <p>Команда</p>
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
