@page
@model Vitrina.Pages.Admin.Startups.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SingleStartup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SingleStartup.DevTeam" class="control-label"></label>
                <input asp-for="SingleStartup.DevTeam" class="form-control" />
                <span asp-validation-for="SingleStartup.DevTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.State" class="control-label"></label>
                <input asp-for="SingleStartup.State" class="form-control" />
                <span asp-validation-for="SingleStartup.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.ShortDesc" class="control-label"></label>
                <input asp-for="SingleStartup.ShortDesc" class="form-control" />
                <span asp-validation-for="SingleStartup.ShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Cases" class="control-label"></label>
                <input asp-for="SingleStartup.Cases" class="form-control" />
                <span asp-validation-for="SingleStartup.Cases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Organisation" class="control-label"></label>
                <input asp-for="SingleStartup.Organisation" class="form-control" />
                <span asp-validation-for="SingleStartup.Organisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Use" class="control-label"></label>
                <input asp-for="SingleStartup.Use" class="form-control" />
                <span asp-validation-for="SingleStartup.Use" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.RequestToAccelerator" class="control-label"></label>
                <input asp-for="SingleStartup.RequestToAccelerator" class="form-control" />
                <span asp-validation-for="SingleStartup.RequestToAccelerator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Sertification" class="control-label"></label>
                <input asp-for="SingleStartup.Sertification" class="form-control" />
                <span asp-validation-for="SingleStartup.Sertification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.FIO" class="control-label"></label>
                <input asp-for="SingleStartup.FIO" class="form-control" />
                <span asp-validation-for="SingleStartup.FIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Phone" class="control-label"></label>
                <input asp-for="SingleStartup.Phone" class="form-control" />
                <span asp-validation-for="SingleStartup.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Mail" class="control-label"></label>
                <input asp-for="SingleStartup.Mail" class="form-control" />
                <span asp-validation-for="SingleStartup.Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Company" class="control-label"></label>
                <input asp-for="SingleStartup.Company" class="form-control" />
                <span asp-validation-for="SingleStartup.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.CompanyStaff" class="control-label"></label>
                <input asp-for="SingleStartup.CompanyStaff" class="form-control" />
                <span asp-validation-for="SingleStartup.CompanyStaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Site" class="control-label"></label>
                <input asp-for="SingleStartup.Site" class="form-control" />
                <span asp-validation-for="SingleStartup.Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.AccInfSource" class="control-label"></label>
                <input asp-for="SingleStartup.AccInfSource" class="form-control" />
                <span asp-validation-for="SingleStartup.AccInfSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.PresentationLink" class="control-label"></label>
                <input asp-for="SingleStartup.PresentationLink" class="form-control" />
                <span asp-validation-for="SingleStartup.PresentationLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Title" class="control-label"></label>
                <input asp-for="SingleStartup.Title" class="form-control" />
                <span asp-validation-for="SingleStartup.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.ImageAsString" class="control-label"></label>
                <input asp-for="SingleStartup.ImageAsString" class="form-control" />
                <span asp-validation-for="SingleStartup.ImageAsString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.AlreadyRealised" class="control-label"></label>
                <input asp-for="SingleStartup.AlreadyRealised" class="form-control" />
                <span asp-validation-for="SingleStartup.AlreadyRealised" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Rate" class="control-label"></label>
                <input asp-for="SingleStartup.Rate" class="form-control" />
                <span asp-validation-for="SingleStartup.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Description" class="control-label"></label>
                <input asp-for="SingleStartup.Description" class="form-control" />
                <span asp-validation-for="SingleStartup.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.Price" class="control-label"></label>
                <input asp-for="SingleStartup.Price" class="form-control" />
                <span asp-validation-for="SingleStartup.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.TechDir" class="control-label"></label>
                <input asp-for="SingleStartup.TechDir" class="form-control" />
                <span asp-validation-for="SingleStartup.TechDir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingleStartup.TransportClass" class="control-label"></label>
                <input asp-for="SingleStartup.TransportClass" class="form-control" />
                <span asp-validation-for="SingleStartup.TransportClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
